#set ($page_title = "Create Admin User")
#set ($page_header = "Create Admin User")

<form method="POST">
	<p>
		You must create an admin user
	</p>	
	
	#if ($success)
		<p style="color:green">$success</p>
	#end
	
	#if ($errors)
		<p style="color:red">
			Create admin failed:
			<ul>
				#foreach ($error in $errors)
					<li>$error</li>
				#end
			</ul>
		</p>
	#end
	
	<p><strong>Username</strong>: admin</p>
	<p><strong>Password</strong>:<br />
		<input type="password" size="50" name="password" />
	</p>
	
	<p><strong>Confirm Password</strong>:<br />
		<input type="password" size="50" name="confirmPassword" />
	</p>

	<input type="submit" value="Create Admin User" />
</form>