<!doctype html>
<html>
	<head>
		<title>Mobile Interop - $!page_title</title>
		<script src="$request.getContextPath()/jquery-1.7.1.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="$request.getContextPath()/main.css" type="text/css" />
	</head>
	<body>
		<h1>Mobile Interop Server</h1>
		#include ("version.vm")
		<p><a href="$request.getContextPath()/">Go to Main Menu</a></p>
		<h3>$!page_header</h3>
		$screen_content
	</body>
</html>