#if ($currentFilter)
	<p><a href="$request.getContextPath()/admin/form/filter/$currentFilter.toStringWithPageNum()">Back to listing</a><p>
#else
	<p><a href="$request.getContextPath()/admin/form/list">Back to listing</a><p>
#end

<p><strong>Form Id</strong>: $group.id</p>
<p><strong>Form Type</strong>: $group.submissionGroupType</p>
#if ($group.completed)
  #set ($status = "Finished")
#else
  #set ($status = "Ongoing")
#end
<p><strong>Status</strong>: $status</p>

#if ($group.completed)
  <p>
    <form method="POST">
      <label>
        <input type="checkbox" name="deleteGroup" id="deleteGroup" /> 
        Do you want to delete this form group?<br />
      </label>
      (Deleting the group will erase all data from the database)<br />
      <input type="submit" name="deleted" id="deleted" value="Delete Group" disabled="disabled" />
    </form>
  </p>
  <script type="text/javascript">
    $("#deleteGroup").click(function(evt) {
      if (this.checked === false || $(this).attr("checked") === undefined) {
        $("#deleted").attr("disabled", "disabled");
      } else {
        $("#deleted").removeAttr("disabled");
      }
    });
  </script>
#end

#if (!$group.completed)
  <p>
    <form method="POST">
      <label>
        <input type="checkbox" name="acceptVoid" id="acceptVoid" /> 
        Do you want to void this form?<br />
      </label>
      (Voiding a group will not allow the form to be downloaded by a supervisor)<br />
      <input type="submit" name="voided" id="voided" value="Void Group" disabled="disabled" />
    </form>
  </p>
  <script type="text/javascript">
    $("#acceptVoid").click(function(evt) {
      if (this.checked === false || $(this).attr("checked") === undefined) {
        $("#voided").attr("disabled", "disabled");
      } else {
        $("#voided").removeAttr("disabled");
      }
    });
  </script>
#end

#if ($openhdsUrl)
	<p><strong>OpenHDS URL</strong>: <a target="_BLANK" href="$openhdsUrl">$openhdsUrl</a></p>
#end

<div>
	<strong>Form Submissions</strong>:
	<ul>
		#foreach ($sub in $group.submissions)
			#if ($sub.active)
				#set ($status = "Active")
			#else
				#set ($status = "Inactive")
			#end
			<li>Form Submission $sub.id <a href="$group.id/submission/$sub.id">View</a> ($status)</li>
		#end
	</ul>
</div>


<!-- The formatting is ugly because the page will render incorrectly with tabs -->
#if ($revisions.size() > 0)
<div>
<strong>Changes to the form</strong>:<br />
	<!-- for 1 -->
#foreach ($revision in $revisions)
<div class="revision">
<div>Revision between $revision.first and $revision.second</div>
		<!-- for 2 -->
#foreach ($diff in $revision.diffs)
					
			<!-- for 3 -->
<pre class="original">
#foreach ($orig in $diff.originalLines)
$orig
#end
</pre>
			<!-- for 3 end -->
<br />
			<!-- for 3 -->
<pre class="revised">
#foreach ($change in $diff.revisedLines)
$change
#end		
</pre>
			<!-- for 3 end -->
<br />
#end
		<!-- for 2 end -->
</div>
<br />
#end
	<!-- for 1 end -->
<br />
</div>
#end

<div>
	<strong>Actions</strong>:
	<ul>
		#foreach ($action in $group.formActions)
			<li>$action.actionType on $action.formattedDate&nbsp;(Form Submission $action.submission.id)</li>
		#end
	</ul>
</div>